.selector{
    background-color: white;
    border-radius: 10px;
    width: 360px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;

    cursor: pointer;
    transition-duration: 300ms;
}

.selector > *{
    margin: 0;
    padding: 0;
}

.selector > h4{
    margin-bottom: 10px;
    font-weight: 800;
    opacity: 1;
}

.selector > p{
    color: rgb(48, 48, 48);
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    opacity: 1;
}

.Nurse{
    background-image:  url('./Assets/nurse.png') ;
    background-repeat: no-repeat;
    background-position: 0px -90px;
    background-size: cover;
    border: 2px solid #003E58
}
.User{
    background-image:  url('./Assets/user.png') ;
    background-repeat: no-repeat;
    background-position: 0px -90px;
    background-size: cover;
    border: 2px solid #003E58
}