.selector{
    background-color: white;
    border-radius: 10px;
    width: 220px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 12px;

    cursor: pointer;
    transition-duration: 300ms;
}

.selector > *{
    margin: 0;
    padding: 0;
}

.selector > h5{
    margin-bottom: 10px;
}

.selector > p{
    color: gray;
    font-size: 15px;
}