.login{
    background-color: #BBEBFF;
    height: 100vh;
    width: 100%;
    display: flex;
}

.loginLeft{

    background-color: teal;
    width: 70%;
    height: inherit;
    background-image: url('./Assets/login.png');
    background-size: cover;

    position: relative;
}

.loginLeft:after{
    content: '';
    position: absolute;
    width: 100%;
    height: inherit;

    background-color: black;
    opacity: 0.7;


}

.loginRight{
    height: inherit;
    width: 30%;
    background-color: #001220;
    color: rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginRight>h3{
    font-weight: 600;
    padding-bottom: 5%;
}

.loginRight > form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.loginFormGroup{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.loginFormGroup > label{
    font-weight: 500;
    font-size: 21px;
}

.loginFormGroup > input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-top: 5px;
    text-transform:lowercase;
}

.loginFormGroup > div.button{
    width: inherit;
    background-color: teal;

    height: 35px;
    border-radius: 5px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    cursor: pointer;
    transition: ease-in-out 150ms;
}


.loginFormGroup > div.button:hover{
    background-color: white;
    border: 3px solid teal;
    height: 35px;
    border-radius: 5px;
    color: teal;
    height: 40px
}

@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Tiro+Devanagari+Hindi&family=Work+Sans:wght@200;300;400;600;700;800&display=swap');

.homeHead{
    font-weight: bold;
    font-family: 'Tiro Devanagari Hindi', serif;
    font-size: 65px;
    color: white;
    margin-bottom: 6vh;
}