.login{
    background-color: #BBEBFF;
    height: 100vh;
    width: 100%;
    display: flex;
}

.loginLeft{

    background-color: teal;
    width: 70%;
    height: inherit;

    background-image: url("https://images.unsplash.com/photo-1576765607924-3f7b8410a787?q=80&w=1475&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;

    position: relative;
}

.loginLeft:after{
    content: '';
    position: absolute;
    width: 100%;
    height: inherit;

    background-color: black;
    opacity: 0.7;


}

.loginRight{
    height: inherit;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginRight > form{
    display: flex;
    flex-direction: column;

    width: 70%;
}

.loginFormGroup{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.loginFormGroup > input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-top: 5px;

    text-transform:lowercase;
}

.loginFormGroup > div.button{
    width: inherit;
    background-color: teal;

    height: 35px;
    border-radius: 5px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

