.login{
    background-color: #BBEBFF;
    height: 100vh;
    width: 100%;
    display: flex;
}

.loginLeft{

    background-color: teal;
    width: 70%;
    height: inherit;
    background-image: url('./Assets/login.png');
    background-size: cover;

    position: relative;
}

.loginLeft:after{
    content: '';
    position: absolute;
    width: 100%;
    height: inherit;

    background-color: black;
    opacity: 0.7;


}

.loginRight{
    height: inherit;
    width: 30%;
    background-color: #001220;
    color: rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginRight>h3{
    font-weight: 600;
    padding-bottom: 5%;
}

.loginRight > form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.loginFormGroup{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.loginFormGroup > label{
    font-weight: 500;
    font-size: 21px;
}

.loginFormGroup > input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-top: 5px;
    text-transform:lowercase;
}

.loginFormGroup > div.button{
    width: inherit;
    background-color: teal;

    height: 35px;
    border-radius: 5px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    cursor: pointer;
    transition: ease-in-out 150ms;
}


.loginFormGroup > div.button:hover{
    background-color: white;
    border: 3px solid teal;
    height: 35px;
    border-radius: 5px;
    color: teal;
    height: 40px
}


.homeHead{
    font-weight: bold;
    font-family: 'Tiro Devanagari Hindi', serif;
    font-size: 65px;
    color: white;
    margin-bottom: 6vh;
}

.err{
    color: red;
    text-align: center;
    margin-bottom:2% ;
}











/* Loader */


  /* LOADER */
  .loader {
    margin-top: 5%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #36BBBD #36BBBD transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    scale: 1;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #fff #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #fff #fff transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      





