.navbar{
    padding: 15px 50px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    position: fixed;  
    width: 100vw;
    z-index: 1000;
}

.buttons{
    padding-left: 31%;
}

.logo{
    font-weight: bold;
    font-family: 'Tiro Devanagari Hindi', serif;
    color: #002a3b;
    font-size: 35px;
}
.logo:hover{
    scale: 1.11;
    transition: ease-in 150ms;
}
.nav-item > a{
    font-weight: bold;
    color: #003E58;
    transition: ease-in 150ms;
}

.nav-item > a:hover{
    scale: 1.09;
    letter-spacing: 1px;
    transform: translateY(2px);
    color: #003E58;
}

.navbar-nav > .nav-item:not(:nth-child(1)) {
  margin-left: 30px;
}

.navbtn {
  border-radius: 100px;
  background-color: aliceblue;
  padding: 5px 20px;
  font-weight: bolder;
}



.navUserDetails{
  display: flex;  
  gap:19px
}

.navUserDetails>div>h4{
    margin: 0;
    padding: 0;
}
.navUserDetails>div>p{
    margin: 0;
    font-size: 15px;
    padding: 0;
}


.navUserDetails>img{
    width: 2.8vw;
    height: 6vh;
    border-radius: 50%;
    border: 2px solid #003E58;
    size:inherit;
    scale: 1.2;
}