.navbar{
    padding: 15px 50px;
    background-color: #BBEBFF;
    /* position:sticky;
    top: 0; */
}

.nav-item > a{
    font-weight: bold;
    color: #003E58;
}

.navbar-nav > .nav-item:not(:nth-child(1)){
    margin-left: 30px;
}

.navbtn{
    border-radius: 100px;
    background-color: aliceblue;
    padding: 5px 20px;
    font-weight: bolder;
}